
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff; 
  text-decoration: none;
  margin-bottom:10px;
 }
  
  .navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:15px;
    margin-left: 5px;
    margin-right: 10px;
    width: 30%;
    margin-top: -30px;
  }
 
 /* Initial styling for the underline and text color */
.nav-link {
  position: relative;
  text-decoration: none;
  color: #333; /* Initial text color */
  transition: color 0.2s ease-in-out; /* Add a transition for text color change */
}

/* Add an ::after pseudo-element for the underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px; /* Adjust the thickness of the underline */
  background-color: transparent; /* Initially transparent underline */
  transform: scaleX(0); /* Initially, set the width to 0 */
  transform-origin: right;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Add transitions for both underline and text color */
}

/* Hover effect to reveal the underline and change text color */
.nav-link:hover {
  color: yellow !important; /* Text color change on hover */
}

.nav-link:hover::after {
  transform: scaleX(1); /* Expand the underline to full width on hover */
  background-color: yellow; /* Underline color change on hover */
}

        


  .footer-container {
    margin: 0;
      background-color: #333;
      color: #fff;
      width: 100%;
      text-align: center;
      margin-bottom: -15px;
      overflow: hidden;
    }
    .logo {
      width: 150px;
      height: auto;
      margin-left: -450px;
      margin-top: 20px;
      margin-right: -300px;
    }
    
    .language-change {
      display: flex;
      align-items: center;
      color: white;
    }
    
    /* Add styling for the language change select element as needed */
    .language-change select {
      background-color: transparent;
      border: none;
      color: white;
    }
    