.yes {
  background-image: url(../images/rung.jpg);
  background: linear-gradient(
      to right,
      rgba(182, 21, 26, 0.918),
      rgba(230, 152, 50, 0.856)
    ),
    url(../images/rung.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.up {
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
  width: 350px;
  display: flex;
  flex-direction: column;
  font-family: italic;
  margin-left: 38%;
}

.title-Discount {
  text-align: center;
  padding-top: 20px;
  margin-left: 12px;
}

.reservation {
  background: url(../images/reservation_bg.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
  padding-top: 35px;
}

.contact-form {
  /* width: 650px; */
  /* margin-left: 330px; */
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  width: inherit;
  overflow: hidden;
  max-width: 100%;
  margin-top: 10px;
}

/* Add the following styles to your CSS */
.column1 {
  flex: 0 0 25%; /* Set the width of Column 1 to 30% */
  padding: 5px; /* Add some spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
  margin-right: 5px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: none;
  font-size: 13px;
  margin-bottom: 15px;
  display: block;
}

.column2 {
  flex: 0 0 50%; /* Set the width of Column 2 to 45% */
  padding: 10px; /* Add some spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
  overflow-y: auto; /* Allow Column 2 to scroll if content exceeds its height */
  max-height: 100vh; /* Set a maximum height for Column 2 */
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}
.column2::-webkit-scrollbar {
  display: none;
}
.menu-name h2 {
  text-align: left;
  color: rgb(196, 80, 7);
}

.column3 {
  flex: 0 0 25%; /* Set the width of Column 3 to 25% */
  margin-left: 1px; /* Add a 5px margin to the left of Column 3 */
  padding: 5px; /* Add some spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
  overflow-y: hidden; /* Allow Column 3 to scroll if content exceeds its height */
  height: auto;
  display: block;
}

.title-cart {
  text-align: center;
  font: size 15px;
}

.column3 ul li {
  list-style: none;
  margin-left: -1rem;
  font-size: smaller;
}

.contact-form input {
  background: rgba(0, 0, 0, 0.35);
  border: #fff 1px solid;
  border-radius: 3px;
  padding: 10px;
  margin-left: 15px;
  margin-top: 10px;
}

.contact-mobile input {
  width: 521px;
}

.contact-mess input {
  height: 150px;
}

.search-b {
  margin-left: 15px;
  margin-top: 20px;
  background: red;
  border: red 1px solid;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
}

.name-email input {
  width: 252px;
}

input:focus {
  color: rgb(196, 80, 7);
}
/* Menu.css */
.cardMenu {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 45px;
}

.cardMenu:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.card-titleMenu {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(196, 80, 7);
}

.card-nameMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin-left: auto;
  /* Add any additional styles you want for the price */
}

.card-textMenu {
  font-size: 1rem;
  color: #333;
}

/* Style for the menu items */
.menu-item {
  background-color: white; /* Set the default background color */
  transition: 0.3s;
  color: grey;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.menu-item p {
  margin: 5px;
}

/* Style for the first menu item */
.menu-item.first {
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
  background-color: rgb(
    196,
    61,
    7
  ); /* Set the background color for the first item */
  color: white; /* Set the text color for the first item */
  /* text-align: justify; */
}

/* Hover effect for menu items */
.menu-item:hover {
  background-color: rgb(196, 61, 7);
  color: white;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  align-items: center;
}

/* Style for the "Add On" button */
.add-on-button {
  background: rgb(196, 80, 7);
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.add-button:hover {
  color: darkorange;
}

/* Style for the "Add" button */
.add-button {
  background: none;
  color: rgb(196, 80, 7);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  float: right;
}

.basket {
  display: flex;
  justify-content: center;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cart {
  overflow-y: "scroll";
  max-height: "100vh";
  margin-left: 5px;
}

.cart-item-name {
  flex: 1;
  width: 3%;
  word-wrap: break-word;
  margin-right: 10px;
}

.cart-controls {
  display: flex;
  align-items: center;
}

.plus-button {
  background: rgb(196, 80, 7);
  color: white;
  border: rgb(196, 80, 7);
  padding: 5px;
}

.quantity {
  padding: 5px;
  border-bottom: rgb(196, 80, 7) solid 1px;
  border-top: rgb(196, 80, 7) solid 1px;
}

.drink-food {
  display: flex;
  gap: 5px;
  flex-direction: row;
  padding: "15px";
  justify-content: space-evenly;
}
.drink-dropdown,
.food-dropdown {
  width: 80%;
  float: left;
}

.add-on-cost {
  text-align: right;
}

.drink-dropdown select,
.food-dropdown select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.drink-dropdown select option,
.food-dropdown select option {
  padding: 10px;
}

.price-cart {
  margin-left: 15px;
  margin-right: 2px;
}

.icon-del {
  border: none;
  background-color: white;
  margin-left: 10px;
}

.order-button {
  background: rgb(196, 80, 7);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  float: left;
  height: 50px;
  align-items: center;
  width: 280px;
}

.yes-order {
  background: linear-gradient(to left, #c91618, #b59161);
  margin: 20px;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
}

.search-button-pay {
  width: 250px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #000;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-columns {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.yes-order {
  width: 75%;
  padding-left: 40px;
  padding-right: 40px;
}

.order-cart {
  width: 25%;
}

.address {
  display: flex;
  justify-content: space-between;
}

.address input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.address-1 input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.code button {
  margin-left: 30px;
  height: 42px;
  width: 170px;
  align-items: center;
}
.code input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 400px;
}

.column2 img {
  width: 650px;
  height: 150px;
}

.rem input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 850px;
  height: 150px;
}

.input-date {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-time-yes {
  padding-right: 140px;
  margin-left: -5px;
}

.add input {
  width: 400px;
}

.name input {
  width: 400px;
}

.address-1 {
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
}

.address-2 {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
}

.h5-header {
  padding-top: 50px;
}

h4 {
  padding-top: 50px;
}

.mobile-dropdown,
.column4 {
  display: none;
}

.scroll {
  background-color: orange !important;
}

.btn {
  bottom: 0;
  position: fixed;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .order-columns {
    display: flex;
    width: inherit;
    overflow-x: hidden;
    justify-content: space-between;
  }

  .card-titleMenu {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: rgb(196, 80, 7);
  }
  .card-titleMenuprice {
    margin-top: 15px;
    width: 120px;
    text-align: right;
  }
  .add-on-cost {
    line-height: 2;
  }

  .yes-order {
    background: linear-gradient(to left, #c91618, #b59161);
    margin: 20px;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    width: 340px;
  }
  .order-button {
    background: rgb(196, 80, 7);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: left;
    height: 50px;
    align-items: center;
    width: 280px;
    margin-left: 30px;
  }
  .search-time-yes {
    padding-right: 140px;
    margin-left: 0px;
  }
  .address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .drink-dropdown,
  .food-dropdown {
    width: 60%;
  }
  .scroll {
    margin-bottom: 25px;
    right: 5px !important;
    background-color: orange !important;
  }

  .code button {
    margin-left: 0px;
    width: 150px;
    margin-bottom: 5px;
  }
  .code input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
  }

  .address input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
  }
  .rem input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
    height: 150px;
  }

  .address-1 input {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  .address-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .address-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 200px;
  }
  .address-2 input,
  .address-2 select {
    width: 300px;
  }
  .up {
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    width: inherit;
    overflow-x: hidden;
    margin-left: 0px;
    align-items: center;
    font-family: italic;
    display: flex;
    align-items: center;
  }
  .title-Discount {
    text-align: center;
    width: inherit;
    overflow-x: hidden;
  }
  .menu-container {
    display: block;
    width: inherit;
    margin-top: 10px;
    overflow-x: hidden;
    margin: 20px;
  }
  .contact-form input {
    background: rgba(0, 0, 0, 0.35);
    border: #fff 1px solid;
    border-radius: 3px;
    padding: 10px;
    margin-left: 0px;
    margin-top: 10px;
  }
  .contact-form {
    width: inherit;
    overflow-x: hidden;
    margin-left: 0px;
  }

  .column1 {
    display: none;
  }
  .name-email input {
    width: 330px;
  }

  .contact-mobile input {
    width: 330px;
  }

  .contact-mess input {
    height: 150px;
  }

  .reservation {
    background: url(../images/reservation_bg.jpg) center center no-repeat;
    background-size: cover;
    width: inherit;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
    padding-top: 35px;
  }
  .column3 {
    flex: 0 0 25%; /* Set the width of Column 3 to 25% */
    margin-left: 0px; /* Add a 5px margin to the left of Column 3 */
    padding: 5px; /* Add some spacing */
    border: 1px solid #ccc; /* Add a border for clarity */
    overflow-y: hidden; /* Allow Column 3 to scroll if content exceeds its height */
    height: 43vh;
    display: block;
    /* width: 340px; */
    margin-bottom: 10px;
  }

  .mobile-dropdown,
  .column4 {
    display: block;
    margin-bottom: 10px;
  }

  .column1 {
    display: none;
  }

  .menu-select {
    background-color: #000;
    color: white;
    width: 120px;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .cart-button {
    background-color: #000;
    color: white;
    width: 120px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    border: none;
  }
  .menu-select option {
    background-color: white;
    color: black;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
  }
  .column2 {
    flex: 0 0 50%;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
    max-height: 100vh;
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
    /* width: 340px; */
    /* margin-left: 8px; */
  }
  .column2 img {
    width: 100%;
    overflow-x: hidden;
    height: 130px;
  }
  .contact-mess input {
    height: 150px;
    width: 330px;
  }
  .order-columns {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .cart {
    overflow-y: "scroll";
    max-height: "100vh";
    margin-left: 1px;
  }
}

/* Media Query for Tablets (768px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Add tablet-specific styles here */
}

/* Media Query for Smaller Desktop Screens (1024px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Add smaller desktop-specific styles here */
}

/* Media Query for Standard Desktop Screens (1280px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  /* Add standard desktop-specific styles here */
}

/* Media Query for Larger Desktop Screens (1440px and above) */
@media only screen and (min-width: 1441px) {
  .cart {
    width: 621px;
  }
  /* Add larger desktop-specific styles here */
}
