.ml-auto {
  color: white;
  justify-content: center;
}

/* Add an ::after pseudo-element for the underline */
.nav-link::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px; /* Adjust the thickness of the underline */
  background-color: transparent; /* Initially transparent underline */
  transform: scaleX(0); /* Initially, set the width to 0 */
  transform-origin: right;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Add transitions for both underline and text color */
}

/* Hover effect to reveal the underline and change text color */
.nav-link:hover {
  color: yellow !important; /* Text color change on hover */
}

.nav-link:hover::after {
  transform: scaleX(1); /* Expand the underline to flinkl width on hover */
  background-color: yellow; /* Underline color change on hover */
}

.lang{
  display: block;
}