.social-media {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    padding-top: 20px;
    height: fit-content;
    color: #fff;
    background: linear-gradient(to right, #c91618, #b59161)
  }
  .contact-us {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .contact-us li {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 20px; /* Add spacing between items */
  }

  .icons-loc{
    margin-right: 20px;
    margin-left: 20px;
  }

.margin-hour{
    margin-left: 27px;
}
  
 
